h2 {
    background-color:#417690;
}

.text-customer-yellow {
   color: #f5dd5d !important;
}

.text-customer-blue {
color: #81d4fa !important
}

.bg-customer-blue {
    background-color:#417690;
}

.bg-customer-blue-dark {
    background-color: #264b5d;
}

.bg-customer-gray {
    background-color: #212121 !important;
}