{% extends 'base.html' %} 

{% block title %}Crear dirección{% endblock title %}

{% block content %}
<div class="row justify-content-center mb-4">
  <div class="p-0 col-md-6 border rounded border-info-subtle text-center" >
        
        <h2 class=" text-center rounded-top p-2">Crear dirección</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.media.js }}
            <div class="m-3">
                <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
                {{ form.direccion }}
                {% if form.direccion.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.direccion.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
        
            <div class="m-3">
                <label for="{{ form.departamento.id_for_label }}">Departamento:</label>
                {{ form.departamento }}
            </div>
        
            <div class="m-3">
                <label for="{{ form.municipio.id_for_label }}">Municipio:</label>
                {{ form.municipio }}
            </div>
            <div class="text-center mb-3">
            <input type="submit" value="Guardar dirección" class="btn btn-info" />
          </div>
        </form>

    </div>
  </div>

  {% endblock content %}

<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>
