{% extends 'registration/base.html' %} 
{% block title %} Iniciar sesión {% endblock%} 
{% block content %}


<div class="container text-white">
  <div class="row justify-content-center">
    <div class="col-md-6 p-0 rounded-top bg-black" >
      {% if error_message %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ error_message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="p-0 col-md-6 border rounded border-info-subtle" >
      <h2 class=" text-center rounded-top">Iniciar sesión</h2>
      
      <form method="post" >
        {% csrf_token %}
        <div class="m-3">
        <div class="mb-3">
          {% for error in form.non_field_errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
          <input type="text" name="username" id="id_username" class="form-control" placeholder="{{ form.username.label }}" required>
        </div>
        <div class="mb-3">
          <input type="password" name="password" id="id_password"  class="form-control" placeholder="{{ form.password.label }}" required>
        </div>
        <div class="text-center mb-3">
          <a href="{% url 'password_reset' %}" class="link-underline-dark text-customer-blue">🤔 Olvidé mi contraseña </a>
        </div>
        <div class="text-center mb-3">
          <button type="submit" class="btn btn-info">Iniciar sesión</button>
        </div>
      </div>
      </form>
      <div class="text-center m-3">
        <hr>
        <p>🙈 ¿No tienes una cuenta?</p>
        <a href="{% url 'accounts:signup' %}" class="link-underline-dark text-customer-blue">👉 Regístrate </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
