{% extends 'registration/base.html' %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="p-0 col-md-8 border rounded border-info-subtle">
        <h2 class="text-center rounded-top p-2">Restablecimiento de contraseña completado</h2>
        <div class="m-3">
            <p>👍 Tu contraseña ha sido restablecida exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
            <div class="text-center mb-3">
                <a href="{% url 'login' %}" class="btn btn-info">Iniciar sesión</a>
            </div>
        </div>
  </div>
</div>
{% endblock %}
