{% extends 'registration/base.html' %}
{% block title %} Cambiar contraseña {% endblock%} 

{% block content %}

<div class="container text-white">
  <div class="row justify-content-center ">
    <div class="p-0 col-md-6 border rounded border-info-subtle" >
      <h2 class="text-center rounded-top ">Cambiar contraseña</h2>
  
      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <div class="m-3">
        <div class="form-group mb-3">
          <label for="{{ form.old_password.id_for_label }}">Contraseña actual</label>
          <input type="{{ form.old_password.field.widget.input_type }}"
                 class="form-control {% if form.old_password.errors %}is-invalid{% endif %} bg-secondary text-white"
                 id="{{ form.old_password.id_for_label }}"
                 name="{{ form.old_password.html_name }}"
                 {% if form.old_password.field.required %}required{% endif %}>
          {% if form.old_password.errors %}
            <div class="invalid-feedback">
              {% for error in form.old_password.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña</label>
          <input type="{{ form.new_password1.field.widget.input_type }}"
                 class="form-control {% if form.new_password1.errors %}is-invalid{% endif %} bg-secondary text-white"
                 id="{{ form.new_password1.id_for_label }}"
                 name="{{ form.new_password1.html_name }}"
                 {% if form.new_password1.field.required %}required{% endif %}>
          {% if form.new_password1.errors %}
            <div class="invalid-feedback">
              {% for error in form.new_password1.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="{{ form.new_password2.id_for_label }}">Confirmar nueva contraseña</label>
          <input type="{{ form.new_password2.field.widget.input_type }}"
                 class="form-control {% if form.new_password2.errors %}is-invalid{% endif %} bg-secondary text-white"
                 id="{{ form.new_password2.id_for_label }}"
                 name="{{ form.new_password2.html_name }}"
                 {% if form.new_password2.field.required %}required{% endif %}>
          {% if form.new_password2.errors %}
            <div class="invalid-feedback">
              {% for error in form.new_password2.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
        <div class="text-center mb-3">
        <button type="submit" class="btn btn-info opacity-75">Cambiar contraseña</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
