{% extends 'base.html' %}
{% block title %} Editar perfil {% endblock%} 
{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="p-0 col-md-6 p-0 border rounded border-info-subtle">
            {% if cliente_form.cedula.value == None %}
                <h2 class="text-warning text-center rounded-top pb-2">Completa tu información personal 👇</h2>
            {% else %}
                <h2 class=" text-center rounded-top pb-2">Editar perfil</h2>
            {% endif %}
            
            <form method="post" class="form">
                {% csrf_token %}
                
                {% for field in cliente_form %}
                    <div class="form-group m-3">
                        {{ field }}
                    </div>

                    {% if field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="d-flex justify-content-center m-3">
                    <button class="btn btn-info" id="guardar-button" type="submit">Guardar cambios</button>
                    {% if direccion_button %}
                      <a href="{% url 'direcciones:crear' %}" id="agregar-button" class="btn btn-secondary ms-4" type="submit">Agregar Dirección</a>
                    {% endif %}
                </div>                  
            </form>
        </div>
    </div>
</div>

{% endblock content %}



