{% extends 'base.html' %}
{% load humanize %}


{% block content %}


<h3>Cotización del proyecto {{cotizacion.proyecto.nombre}}</h3>
<br>
  <div class="container border rounded border-info-subtle">
    <table class="table table-dark table-hover">
      <thead>
        <tr class="text-customer-blue">
          <th scope="col">Material</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio unitario</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for detalle in detalles %}
        <tr>
          <th scope="row">{{detalle.materiales.nombre}}</th>
          <td>{{detalle.cantidad}}</td>
          <td>$ {{ detalle.materiales.precio  | intcomma }}</td>
          <td>$ {{ detalle.total_pagar | intcomma }}</td>
        </tr>
        {% endfor %}
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>Subtotal</td>
          <td>$ {{ cotizacion.subtotal  | intcomma }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>Descuento</td>
          <td>{{ cotizacion.descuento | intcomma}}%</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td ></td>
          <td><strong> Total </strong></td>
          <td>$ {{ cotizacion.total_pagar | intcomma }}</td>
        </tr>
      </tbody>
    </table>
  </div>


{% endblock content %}


